<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="form-container">
      <h1 class="form-title">新規ブログ投稿</h1>
      <form action="/" method="post" class="blog-form">
        <label for="title">タイトル：</label>
        <input type="text" id="title" name="title" class="form-input" />
        <label for="content">本文：</label>
        <textarea name="content" id="content" cols="30" rows="10" class="form-textarea"></textarea>
        <button type="submit" class="form-button">新規作成</button>
      </form>
    </div>
  </body>
</html>
