<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="article-container">
      <h1 class="article-title"><%= blog.title %></h1>
      <p class="article-content"><%= blog.content %></p>
      <% if (typeof blog !== 'undefined' && blog._id) { %>
        <button class="delete" data-doc="<%= blog._id %>">
          この記事を削除する
        </button>
      <% } %>
    </div>
    <script>
      const deleteItem = document.querySelector(".delete");
      deleteItem.addEventListener("click", (e) => {
        const endPoint = `/detail/${deleteItem.dataset.doc}`;
        fetch(endPoint, {
          method: "DELETE",
        })
          .then((res) => res.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
